<div class="product-showcase flex flex-row w-full">
  {% render 'ff-product-card',
    name: 'Electric Blue Razzberry Lemonade',
    image: 'FocusFuel_3.17OZ_ElectricBlueRazzberryLemonade_RGB',
    link: 'https://quickstart-19157288.myshopify.com/products/focusfuel?variant=47603205308715',
    background_color: '#00C2F3',
    button_color: '#1F326A',
    type: 'br'
  %}
  {% render 'ff-product-card',
    name: 'Electric Watermelon',
    image: 'FocusFuel_3.17OZ_Watermelon_RGB',
    link: 'https://quickstart-19157288.myshopify.com/products/focusfuel?variant=47603205341483',
    background_color: '#EF4871',
    button_color: '#004737',
    type: 'wm'
  %}
  {% render 'ff-product-card',
    name: 'Electric Fruit Punch',
    image: 'FocusFuel_3.17OZ_FruitPunch_RGB',
    link: 'https://quickstart-19157288.myshopify.com/products/focusfuel?variant=47603205374251',
    background_color: '#F7941D',
    button_color: '#A51C17',
    type: 'fp'
  %}
</div>

{% schema %}
{
  "name": "Product Showcase",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "product-showcase-title",
      "label": "Product showcase text",
      "default": "showcase default"
    }
  ],
  "presets": [
    {
      "name": "Product Showcase Cam"
    }
  ]
}
{% endschema %}
